<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="fragments/base.html :: headerfiles(title='Info')">
</head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
	<nav th:replace="fragments/base.html :: nav"></nav>
	<section>
	<span id="corpo">Dirigente: Riccardo Spizzichino. Numero telefono: 3428129412</span>
	<span id="corpo">Progetto SIW : professore Paolo Merialdo</span>
	</section>
	<footer th:replace="fragments/base.html :: fondoPagina"></footer>
</body>
</html>