<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="fragments/base.html :: headerfiles(title='Info')">
</head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
	<nav th:replace="fragments/base.html :: nav"></nav>
	<section>
	<span id="corpo">Il museo di opere classiche e uno dei musei piu visitati al mondo. Da valore al periodo del classicismo artistico, i cui maggiori esponenti sono 
	Claude Lorrain e Nicolas Poussin. Il museo e articolato in piu sezioni: si possono visitare gli artisti, le opere e le collezioni.</span>
	</section>
	<footer th:replace="fragments/base.html :: fondoPagina"></footer>
</body>
</html>